.chatBox {
  height: 32rem;
  overflow-y: scroll;
  background-color: #f6f6f6;
}

.chatText {
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.user1 {
  background-color: #a7a298;
  margin-right: 10px;
}

.user2 {
  background-color: #42aea8;
  margin-left: 10px;
}

.unread {
  font-weight: bold;
}

.leftColWrapper {
  height: 27rem;
  overflow-y: scroll;
}
