.chatBox{
  background-color: #f6f6f6;
}
.chatText{
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: bold;
}
.user1{
  background-color: #A7A298;
  margin-right: 10px;
}
.user2{
  background-color: #e8ffff;
  margin-left: 10px;
}