.creditcard-card {

  border-width: 0!important;

  & .creditcard-card-header {


  }

  & .creditcard-card-body {

    padding: 0;
    background-color: #e8ffff;

    & .credit-card {

      zoom: 60%;

    }

  }
  


}