.listWrapper{
    & .lists{
        & h2{
            margin-left: 2rem;
        }
    }
}

.listButton{
    // border-radius: 12px;
    // background-color: #42AEA8!important;
    border: none;
    background-color: white!important;
    border-color: white;
    & .list-group-item{
        color: #42AEA8;
        border: none;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        &:focus{
            border: none;
            outline: none;
        }
    }

     &:focus{
        border: none;
        outline: none;
    }
}