.MycommentWrapper {
  margin-left: 0rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 2rem;
  display: flex;
  .commentName {
    margin-left: 0rem;
    color: blue;
  }

  .commentRate {
    margin-left: 0rem;
    margin-bottom: 5px;
  }

  .commentDate {
    margin-left: 0rem;
    color: grey;
  }

  .commentContent {
    margin-left: 0rem;
  }

  & .commentRemoveButton {
    border: 0rem;
    background: transparent;
    & img {
      max-width: 2rem;
    }
  }
}
