.profile-form {
    align-content: center;
    max-width: 50rem;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 80%;

    & .profile-container {
        border-radius: 3px;
        padding: 15px;
        border: solid 1px;
        border-color: #e2e2e2;
        margin-bottom: 50px;

        & #header3 {
            margin-bottom: 20px;
            align-content: center;
        }
        
        & .no-padding-left {
            padding-left: 0!important;

            & #save-changes-div{
                text-align: center;
                margin-left: 20px;
                & #save-changes {
                    border-color: #F4A133;
                    background-color: #F4A133;
                
                    color: white;
                      &:hover {
                        background-color: #f1ca1a;
                
                        color: black;
                    }
                  }
            }

            & .form-group {
                & input {
                    background-color: #f6f6f6;
                    margin: auto;
                }

                & label{
                    margin-bottom: 0;
                }

                & .align-middle { 
                    margin-bottom: 10px!important;
                    margin-top: 10px!important;
                }

                & .error {
                    color: red;
                }
            }
        }

    }
}





