.textCenter{
  text-align: center;
}
.setCenter{
  margin-right: auto;
  margin-left: auto;
}

.myTitle{
  font-weight: bold;
}

.modalCloseButton{
  font-weight: bold;
  background-color: #A7A298 !important;
  border-color: #A7A298 !important;
}