.profile-form {
    align-content: center;
    max-width: 50rem;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 80%;
}
.no-padding-right {
    padding-right: 0!important;
}
.no-padding-left {
    padding-left: 0!important;
}

.align-middle { 
    margin-bottom: 10px!important;
    margin-top: 10px!important;
}

.profile-container {
    border-radius: 3px;
    padding: 15px;
    border: solid 1px;
    border-color: #e2e2e2;
    margin-bottom: 50px;
}

#header3 {
    margin-bottom: 20px;
    align-content: center;
}

.form-group input {
    background-color: #f6f6f6;
    margin: auto;
}

.form-group label{
    margin-bottom: 0;
}

#save-changes {
    background-color: #F4A133;
    font-weight: 650;
    color: white;
    float: right;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 30px;
}

#save-changes-div {
    margin-bottom: 0;
    height: 50px;
}

#isvendor {
    
}